'.source.js':
  'editor':
    'completions': [
      'angular'
      'bind'
      'bootstrap'
      'copy'
      'element'
      'equals'
      'extend'
      'forEach'
      'fromJson'
      'identity'
      'injector'
      'isArray'
      'isDate'
      'isDefined'
      'isElement'
      'isFunction'
      'isNumber'
      'isObject'
      'isString'
      'isUndefined'
      'lowercase'
      'module'
      'noop'
      'toJson'
      'uppercase'

      '$anchorScroll'
      '$animate'
      '$cacheFactory'
      '$compile'
      '$controller'
      '$document'
      '$exceptionHandler'
      '$filter'
      '$http'
      '$httpBackend'
      '$interpolate'
      '$interval'
      '$locale'
      '$location'
      '$log'
      '$parse'
      '$q'
      '$rootElement'
      '$rootScope'
      '$sce'
      '$sceDelegate'
      '$templateCache'
      '$timeout'
      '$window'
      '$animateProvider'
      '$compileProvider'
      '$controllerProvider'
      '$filterProvider'
      '$interpolateProvider'
      '$locationProvider'
      '$logProvider'
      '$parseProvider'
      '$rootScopeProvider'
      '$sceDelegateProvider'
      '$sceProvider'
      '$injector'
      '$provide'
      '$animateProvider'
      '$animate'
      '$cookieStore'
      '$cookies'

      'mock'
      '$exceptionHandlerProvider'
      '$exceptionHandler'
      '$httpBackend'
      '$interval'
      '$log'
      '$timeout'
      'inject'
      '$sanitize'
      '$swipe'
      'controller'
      '$scope'
      'service'
      'factory'
      'provider'
      '$resource'
      'ngResource'
      '$q'
      'defer'
      'config'
      '$routeProvider'
      '$route'
      '$routeParams'
      'when'
      'otherwise'
      'directive'
      'run'
      'filter'
    ]
